VOXSHIELD_DEMO_MODE=false
VOXSHIELD_CORS_ORIGINS=http://localhost:5173
VOXSHIELD_SSE_QUEUE_SIZE=64
VOXSHIELD_EVENT_HISTORY_SIZE=128
VOXSHIELD_MAX_SESSIONS=256
VOXSHIELD_PUBLIC_BASE_URL=
VOXSHIELD_TWILIO_AUTH_TOKEN=
VOXSHIELD_TWILIO_WINDOW_SECONDS=4
VOXSHIELD_TWILIO_MAX_BUFFER_SECONDS=12
VOXSHIELD_AASIST_CHECKPOINT=
VOXSHIELD_AASIST_SOURCE_DIR=
VOXSHIELD_WHISPER_MODEL=
